/*
  GENERAL
*/

body {
  background: whitesmoke;
}

.hidden {
  display: none;
}


/*
  NAVBAR
*/

.navbar-brand {
  color: #ff3547 !important;
  font-weight: 900;
}

.navbar.navbar-dark.sticky-top {
  background: white;
}

.fixed-action-btn {
  bottom: 0;
  right: 0;
}

/*
  HOMEPAGE SEARCH
*/

.homepage {
  min-height: 90vh;
  align-items: center;
}

.homepage-form {
  width: 100%;
}

.homepage-logo {
  text-align: center;
  font-weight: bold;
  font-size: 3.5rem;
  color: #ff3547;
}

.homepage-subtitle {
  text-align: center;
  font-weight: 400;
  color: black;
}

/*
  RESULT CARDS
*/

.cards {
  margin: 40px 0;
}

.view.overlay {
  max-height: 197px;
}

.card-title {
  min-height: 45px;
  font-size: 18px;
}

.pb-2 {
  min-height: 35px;
  font-size: 14px;
}